<!-- Extend imports the base file -->
{% extends 'base.html' %} 
<!-- You can then add code depending on what you want for the specific page -->
<!-- Simply input a block wherever it is necessary on the base file and then input the code here -->

{% block style %}
<style>
  .gamewindow {
    width: 100%;
    background-color: rgb(189, 147, 69);
  }
  /* ============== Top Bar ============== */

  .topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid rgb(44, 8, 143);
    background-color: rgb(44, 8, 143);
    align-items: center;
  }

  .topBar img {
    width: auto;
    height: 50px;
  }

  .topBar h1 {
    color: honeydew;
    font-size: 2rem;
    font-weight: bold;
  }

  .topBar a {
    color: honeydew;
  }

  .topBar a img {
    width: auto;
    height: 30px;
  }

  /* ============== Mid Section ============== */
  .midBar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
  }
  
  .statusWindow {
    color: rgb(24, 24, 24);
    background-color: rgb(128, 122, 145);
  }
  
  .map {
    /* svg styles */
    background-color: rgb(189, 147, 69);
  }

  .rightWindow {
    color: rgb(24, 24, 24);
    background-color: rgb(68, 64, 78);
  }

  .roomInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(83, 149, 236);
  }

  .itemInfo {
    display: flex;
    flex-direction: row;
  }

  .currency {
    display: flex;
    flex-direction: column;
  }

  .inventory {
    display: flex;
    flex-direction: column;
  }

  /* ============== Bottom Section ==============  */
  .botBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .botBar h3 {
    color: honeydew;
    border: 1px solid rgb(58, 12, 185);
    background-color: rgb(58, 12, 185);
  }

  .botBar h4 {
    
    color: rgb(58, 12, 185);
    border: 1px solid rgb(205, 226, 238);
    background-color: rgb(205, 226, 238);
  }

  .directions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(58, 12, 185);
    background-color: rgb(58, 12, 185);
    color: honeydew;
    text-align: center;
  }
</style>

{% endblock %}

{% block content %}
  <div class="gamewindow">
    <div class="topBar">
      <img src="{% static 'default.png'%}" alt="starting">
      <h1>Welcome to the hunt <!-- player name --></h1>
      <a href="/"><img src="{% static 'mapIcon.png' %}" alt="map icon"> Map</a>
      <a href="/info"><img src="{% static 'infoIcon.png' %}" alt="information icon"> Info</a>
    </div>
    <div class="midBar">
      <div class="statusWindow">
        <div class="stats" >
          <!-- Player stats from request call -->
          <h2>Stats</h2>
        </div>
        <div class="skills">
          <!-- inputs for the skills when making request -->
          <h2>Current Skills</h2>
        </div>
      </div>

      <div class="map">
        <!-- place svg here -->
      </div>
      
      <div class="rightWindow">
        <div class="roomInfo">
          <!-- Room information -->
          <h2>Current Room</h2>
        </div>

        <div class="itemInfo">
          <!-- Inventory and currency Info-->
          <h2>Item information</h2>
          
          <div class="currency">
            <p>testing</p>
          </div>

          <div class="inventory">
            <p>currency</p>
          </div>
        </div>
      </div>
    </div>
    <!-- You can write Python code by just adding a line of brackets with % in it, do not use (), use a end <name of used python item> -->
    
    <!-- You can use passed variables from views with double brackets  -->
    
    <div class="bottomBar">
      <h3>Explore</h3>
      <h4><!-- response from the message or error -->test</h4>
      <!-- response from movement request -->
      <div class="directions">
        <button onclick="moveup()">North</button>
        <button onclick="movedown()">South</button>
        <button onclick="moveleft()">West</button>
        <button onclick="moveright()">East</button>
        <button onclick="">Sell</button>
        <button onclick="">Pickup</button>
      </div>
    </div>
  </div>
{% endblock %}
    
{% block script %}
  <script>
    function startGame() {
      myGameArea.start();
      // myBackground = new component(656, 270, "citymarket.jpg", 0, 0, "image");
      myGamePiece = new component(30, 30, "red", 10, 120);
    }

    var myGameArea = {
      canvas : document.createElement("canvas"),
      start : function() {
        this.canvas.width = 480;
        this.canvas.height = 270;
        this.context = this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);
        this.interval = setInterval(updateGameArea, 20);
        window.addEventListener('keydown', function (e) {
          myGameArea.key = e.keyCode;
        })
        window.addEventListener('keyup', function (e) {
          myGameArea.key = false;
        })
      },
      clear : function(){
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
      }
    }
    function updateGameArea() {
      myGameArea.clear();
      // myBackground.newPos();
      // myBackground.update();
      myGamePiece.speedX = 0;
      myGamePiece.speedY = 0;
      if (myGameArea.key && myGameArea.key == 37) {myGamePiece.speedX = -1; }
      if (myGameArea.key && myGameArea.key == 39) {myGamePiece.speedX = 1; }
      if (myGameArea.key && myGameArea.key == 38) {myGamePiece.speedY = -1; }
      if (myGameArea.key && myGameArea.key == 40) {myGamePiece.speedY = 1; }
      myGamePiece.newPos();
      myGamePiece.update();
    }

    function component(width, height, color, x, y, type) {
      this.type = type;
      if (type == "image") {
        this.image = new Image();
        this.image.src = color;
      }
      this.width = width;
      this.height = height;
      this.speedX = 0;
      this.speedY = 0;
      this.x = x;
      this.y = y;
      this.update = function() {
        ctx = myGameArea.context;
        if (type == "image") {
          ctx.drawImage(this.image,
            this.x,
            this.y,
            this.width, this.height);
        } else {
          ctx.fillStyle = color;
          ctx.fillRect(this.x, this.y, this.width, this.height);
        }
      }
    }

    function updateGameArea() {
      // myGamePiece.image.src = "angry.gif";
      // Use this tag to change the clothes when equiping and dequiping 
      myGameArea.clear();
      myGamePiece.newPos();
      myGamePiece.update();
    }

    function moveup() {
      myGamePiece.speedY -= 1;
    }

    function movedown() {
      myGamePiece.speedY += 1;
    }

    function moveleft() {
      myGamePiece.speedX -= 1;
    }

    function moveright() {
      myGamePiece.speedX += 1;
    }
  </script>
{% endblock %}