<!-- Extend imports the base file -->
{% extends 'templates/base.html' %} 
<!-- You can then add code depending on what you want for the specific page -->
<!-- Simply input a block wherever it is necessary on the base file and then input the code here -->
{% block title %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
  <div class="gamewindow">
    <div class="topBar">
      <div class="statusWindow">
        <div class="stats" >
          <!-- {{Player stats from request call}} -->
        </div>
        <div class="skills">
          <!-- {{inputs for the skills when making request}} -->
        </div>
      </div>

      <div class="map">
        <!-- place svg here -->
      </div>
      
      <div class="rightWindow">
        <div class="roomInfo">
          <!-- {{Room information}} -->
        </div>

        <div class="itemInfo">
          <!-- {{Item information and equip dequip}} -->
        </div>
      </div>
    </div>
    <!-- You can write Python code by just adding a line of brackets with % in it{%%}, do not use (), use a end <name of used python item> -->
    {% for ... %}
    {% endfor %}  
    <!-- You can use passed variables from views with double brackets {{}} -->
    {{}}
    <div class="bottomBar">
      <div class="skills">

      </div>
      <!-- {{response from movement request}} -->
      <div class="directions">
        <button onclick="moveup()">North</button>
        <button onclick="movedown()">South</button>
        <button onclick="moveleft()">West</button>
        <button onclick="moveright()">East</button>
        <button onclick="">Sell</button>
        <button onclick="">Pickup</button>
      </div>
    </div>
  </div>
{% endblock %}
    
{% block script %}
  <script>
    function startGame() {
      myGameArea.start();
      // myBackground = new component(656, 270, "citymarket.jpg", 0, 0, "image");
      myGamePiece = new component(30, 30, "red", 10, 120);
    }

    var myGameArea = {
      canvas : document.createElement("canvas"),
      start : function() {
        this.canvas.width = 480;
        this.canvas.height = 270;
        this.context = this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);
        this.interval = setInterval(updateGameArea, 20);
        window.addEventListener('keydown', function (e) {
          myGameArea.key = e.keyCode;
        })
        window.addEventListener('keyup', function (e) {
          myGameArea.key = false;
        })
      },
      clear : function(){
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
      }
    }
    function updateGameArea() {
      myGameArea.clear();
      // myBackground.newPos();
      // myBackground.update();
      myGamePiece.speedX = 0;
      myGamePiece.speedY = 0;
      if (myGameArea.key && myGameArea.key == 37) {myGamePiece.speedX = -1; }
      if (myGameArea.key && myGameArea.key == 39) {myGamePiece.speedX = 1; }
      if (myGameArea.key && myGameArea.key == 38) {myGamePiece.speedY = -1; }
      if (myGameArea.key && myGameArea.key == 40) {myGamePiece.speedY = 1; }
      myGamePiece.newPos();
      myGamePiece.update();
    }

    function component(width, height, color, x, y, type) {
      this.type = type;
      if (type == "image") {
        this.image = new Image();
        this.image.src = color;
      }
      this.width = width;
      this.height = height;
      this.speedX = 0;
      this.speedY = 0;
      this.x = x;
      this.y = y;
      this.update = function() {
        ctx = myGameArea.context;
        if (type == "image") {
          ctx.drawImage(this.image,
            this.x,
            this.y,
            this.width, this.height);
        } else {
          ctx.fillStyle = color;
          ctx.fillRect(this.x, this.y, this.width, this.height);
        }
      }
    }

    function updateGameArea() {
      // myGamePiece.image.src = "angry.gif";
      // Use this tag to change the clothes when equiping and dequiping 
      myGameArea.clear();
      myGamePiece.newPos();
      myGamePiece.update();
    }

    function moveup() {
      myGamePiece.speedY -= 1;
    }

    function movedown() {
      myGamePiece.speedY += 1;
    }

    function moveleft() {
      myGamePiece.speedX -= 1;
    }

    function moveright() {
      myGamePiece.speedX += 1;
    }
  </script>
{% endblock %}